Universidad/Service References/Tanda/WebService3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionTanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tanda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionTandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionTandaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionTandaSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionTanda" />
  </wsdl:message>
  <wsdl:message name="SeleccionTandaSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionTandaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService3Soap">
    <wsdl:operation name="SeleccionTanda">
      <wsdl:input message="tns:SeleccionTandaSoapIn" />
      <wsdl:output message="tns:SeleccionTandaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService3Soap" type="tns:WebService3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionTanda">
      <soap:operation soapAction="http://tempuri.org/SeleccionTanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService3Soap12" type="tns:WebService3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionTanda">
      <soap12:operation soapAction="http://tempuri.org/SeleccionTanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService3">
    <wsdl:port name="WebService3Soap" binding="tns:WebService3Soap">
      <soap:address location="http://localhost:42209/WebService3.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService3Soap12" binding="tns:WebService3Soap12">
      <soap12:address location="http://localhost:42209/WebService3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>